wandb/
torch_two_sample.egg-info/
src/utils/simbank_eval_18-02-old-policy-testing/
.vscode/
.eggs/
data/*
res/*
res/SimBank/*
data/SimBank/*
res/bpic2012/*
data/bpic2012/*
res/bpic2017/*
data/bpic2017/*
__pycache__/
*.py[cod]

!data/
!res/
!res/SimBank/
!data/SimBank/
!res/bpic2012/
!data/bpic2012/
!res/bpic2017/
!data/bpic2017/

!data/.gitkeep
!res/.gitkeep
!res/SimBank/.gitkeep
!data/SimBank/.gitkeep
!res/bpic2012/.gitkeep
!data/bpic2012/.gitkeep
!res/bpic2017/.gitkeep
!data/bpic2017/.gitkeep

!res/all_rankings
!res/figures
!res/res_main.ipynb
!res/res_utils.py